.container{
    background: rgb(12,85,143);
    background: linear-gradient(45deg, rgba(12,85,143,1) 0%, rgba(86,163,226,1) 51%, rgba(243,243,244,1) 100%);
    border-radius: 10px;
}
.banner{
    background: url(./nature.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: auto;
}
a:link, a:hover, a:active, a:visited{
    color: white;
  }
#in, #up{
    font-size: xx-large;
}
button[type="submit"]{
    border-radius: 30px;
    width: 100%;
    
    }
input[type="email"], input[type="password"]{
    background-color : rgba(12,85,143,1);
    border-radius: 30px;
    border: none;
    }
      
::-ms-input-placeholder { /* Edge 12 -18 */
    color: red;
    }